$horz-card-padding: 30px;
md-card {
  md-card-title {
    padding: 15px $horz-card-padding;
    h2 {
      margin: 0;
      font-weight: normal;
    }
  }
  md-card-content {
    padding: $horz-card-padding;
    font-size: 18px;
    button {
        background-color: #800000;
        color: white;
        font-size: 18px;
        font-weight: normal;
        margin: 20px auto;
        padding: 5px 20px;
    }
  }
}
