<md-card>
  <md-card-title (click)="isExpanded=!isExpanded" fxLayoutAlign="none center">
    <span>{{password.service}}</span>
    <span fxFlex></span>
    <button *ngIf="!isExpanded" md-icon-button>
    <md-icon>lock</md-icon>
    </button>
    <button *ngIf="isExpanded" md-icon-button>
    <md-icon>lock_open</md-icon>
    </button>
  </md-card-title>
  <!--div *ngIf="isExpanded" class="hidden-content">-->
  <!--div [ngClass]="{hide: !isExpanded}" class="hidden-content">-->
  <!--div [class.hide]="!isExpanded" class="hidden-content">-->
  <div [@showPassword]="showPasswordState" class="hidden-content">
    <md-card-content>
      <div *ngIf="password.username" fxLayoutAlign="none center">
        <span>Username:</span>
        <span fxFlex></span>
        <span> {{password.username}}</span>
      </div>
      <div fxLayoutAlign="none center">
        <span>Password:</span>
        <span fxFlex></span>
        <span> {{password.password}}</span>
      </div>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end center">
      <button class="edit-btn" md-button type="button" (click)="edit()">Edit</button>
      <button class="remove-btn" md-button type="button" (click)="remove()">Remove</button>
    </md-card-actions>
  </div>
</md-card>
