$horz-card-padding: 20px;
md-card {
  md-card-title {
    padding: 10px $horz-card-padding;
    font-weight: normal;
    font-size: 24px;
  }
  md-card-content {
    padding: 10px $horz-card-padding 0;
    font-size: 16px;
  }
  md-card-actions {
    padding: 10px $horz-card-padding;
  }
}
